@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      
    </section>
</div>